
<div ng-repeat="new in news">
	<!-- blog entry -->
	<h1>
		<a href="#/news/{{new.id}}">{{new.title}}</a>
	</h1>
	<div class="clearfix">
		<span class="lead pull-left">
			by <a href="">{{new.author.username}}</a>
		</span>
		<span class="pull-right news-creationdate"><span class="glyphicon glyphicon-time"></span> Posted on {{new.creationDate}}</span>
	</div>
	
	<p>{{new.content}}</p>
	
	<ul class="list-inline tags-news-footer">
		<li>Tags :</li>
		<li ng-repeat="tag in new.tags" ><em>{{tag}}</em></li>
	</ul>
	
	<p>
		<a class="btn btn-primary" href="#/news/{{new.id}}">
			Read More <span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</p>
	<hr>
	
</div>

<!-- pager -->
<ul class="pager">
	<li class="previous" ng-if="page > 0">
		<a ng-click="previous()">&larr;Newer</a>
	</li>
	<li class="next" ng-if="news.length == pageSize">
		<a ng-click="next()">Older &rarr;</a>
	</li>
</ul>